Repository alphagov/pay-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pipelines, terraform-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-pipelines
        name: Validate Concourse pipelines
        entry: fly validate-pipeline -c
        files: ci/pipelines/.+\.(yml|yaml)$
        language: system
      - id: terraform-fmt
        name: Run terraform fmt
        entry: terraform fmt -check -diff
        files: \.tf$
        language: system

BAU: Remove DD frontend & DD connector infrastructure
  terraform/modules/aws/directdebit-frontend.tf
  terraform/modules/paas-stub-postgres/apps.tf
  terraform/modules/paas-stub-postgres/postgres.tf
  terraform/modules/paas/app-catalog-service.tf
  terraform/modules/paas/carbon-relay.tf
  terraform/modules/paas/directdebit-connector.tf
  terraform/modules/paas/directdebit-frontend.tf
  terraform/modules/paas/notifications.tf
  terraform/modules/paas/publicapi.tf
  terraform/modules/paas/selfservice.tf
  terraform/modules/paas/toolbox.tf
Due: terraform-fmt

PP-6913: Remove PaaS provided RDS services
  terraform/staging-paas/site.tf
Due: terraform-fmt

PP-7025 Use separate hosted zones for sub domain delegation
  terraform/modules/aws/card-frontend.tf
  terraform/modules/aws/notifications.tf
  terraform/modules/aws/products-ui.tf
  terraform/modules/aws/publicapi.tf
  terraform/modules/aws/route53.tf
  terraform/modules/aws/selfservice.tf
  terraform/staging-aws/site.tf
Due: terraform-fmt

PP-7025 adding test environment
  secrets/cloudfront/test-frontend/privkey.gpg
  secrets/cloudfront/test-frontend/pubkey.gpg
  terraform/modules/aws/vpc.tf
  terraform/test-aws/site.tf
  terraform/test-aws/terraform.tfvars
Due: terraform-fmt

PP-7025 Add rds instances for test environment
  terraform/test-aws/terraform.tfvars
Due: none

PP-7154 Create Test Environment
  terraform/test-paas/site.tf
  terraform/test-paas/terraform.tfvars
  terraform/test-paas/variables.tf
Due: terraform-fmt

PP-7150 Create VPC Peering Connection Accepter
  terraform/modules/aws/vpc.tf
Due: terraform-fmt

PP-7150 Remove Existing ACL Config
  terraform/modules/aws/card-frontend.tf
  terraform/modules/aws/notifications.tf
  terraform/modules/aws/products-ui.tf
  terraform/modules/aws/publicapi.tf
  terraform/modules/aws/selfservice.tf
Due: terraform-fmt

PP-7150: Migrate AWS WAF definitions to use WAFv2 Terraform support
  terraform/modules/aws/card-frontend.tf
  terraform/modules/aws/notifications.tf
  terraform/modules/aws/products-ui.tf
  terraform/modules/aws/publicapi.tf
  terraform/modules/aws/selfservice.tf
Due: terraform-fmt

PP-7150: Remove bespoke WAFv2 null_resource module
  terraform/modules/aws/waf_v2_acl/configure_aws_wafv2.rb
  terraform/modules/aws/waf_v2_acl/fetch_aws_wafv2.rb
  terraform/modules/aws/waf_v2_acl/main.tf
  terraform/modules/aws/waf_v2_acl/outputs.tf
  terraform/modules/aws/waf_v2_acl/rules.tpl
  terraform/modules/aws/waf_v2_acl/variables.tf
Due: terraform-fmt

PP-7150 Refactor PublicAPI
  terraform/modules/aws/publicapi.tf
Due: terraform-fmt

PP-7150 Update Visibility Config
  terraform/modules/aws/card-frontend.tf
  terraform/modules/aws/notifications.tf
  terraform/modules/aws/products-ui.tf
  terraform/modules/aws/publicapi.tf
  terraform/modules/aws/selfservice.tf
Due: terraform-fmt

PP-7150 Web ACL Access Configuration
  terraform/modules/aws/card-frontend.tf
  terraform/modules/aws/notifications.tf
  terraform/modules/aws/products-ui.tf
  terraform/modules/aws/publicapi.tf
  terraform/modules/aws/selfservice.tf
Due: terraform-fmt

PP-7026 Create new pipeline to deploy apps to test environment
  ci/pipelines/test-deploy.yml
  paas/env_variables/test-smoke-tests.yml
  paas/env_variables/test.yml
Due: validate-pipelines

PP-7026 Pass the consumer tag as a variable into pact tasks
  ci/pipelines/deploy.yml
  ci/tasks/pact-provider-master-verification.yml
  ci/tasks/tag-pacts-with-master.yml
Due: validate-pipelines

PP-7026 Rename pact task files
  ci/pipelines/deploy.yml
  ci/tasks/pact-provider-tagged-verification.yml
  ci/tasks/tag-pacts.yml
Due: validate-pipelines

PP-7027 Deploy Test Smoke Test
  paas/smoke-test-apps.yml
Due: none

PP-7027 Add `environment` variable to smoke test config
  paas/env_variables/staging-smoke-tests.yml
  paas/env_variables/test-smoke-tests.yml
Due: none

PP-7027 Remove Directdebit from smoke test user setup
  ci/tasks/smoke-test-user.yml
  client/client
Due: none

PP-7024 VPC Peering Acceptance
  terraform/modules/aws/card-frontend.tf
  terraform/modules/aws/notifications.tf
  terraform/modules/aws/products-ui.tf
  terraform/modules/aws/publicapi.tf
  terraform/modules/aws/selfservice.tf
  terraform/test-aws/site.tf
Due: terraform-fmt

PP-7027 Update connector db username for test
  terraform/test-paas/terraform.tfvars
Due: none

PP-7026 Add space to cardid data deployment
  ci/pipelines/deploy.yml
  ci/pipelines/test-deploy.yml
Due: validate-pipelines

PP-7027 Use bcrypt salt and hmac values from existing infra
  terraform/staging-paas/terraform.tfvars
  terraform/test-paas/terraform.tfvars
Due: none

PP-7022 Fix can-i-deploy check
  ci/docker/pact_with_jq/Dockerfile
  ci/tasks/pact-provider-test-preflight-check.yml
Due: none

PP-7021 Clean up new deprecation warnings
  ci/pipelines/test-deploy.yml
Due: validate-pipelines

PP-7022 Update the check for whether the provider requires validation
  ci/tasks/pact-provider-verification.yml
Due: none

PP-7021 Create paas test releases
  ci/pipelines/test-deploy.yml
Due: validate-pipelines

PP-7128: Bootstrap performance testing AWS account
  terraform/performance-account/iam.tf
  terraform/performance-account/site.tf
Due: terraform-fmt

PP-7027 Remove smoke test user setup
  ci/pipelines/deploy.yml
  ci/pipelines/test-deploy.yml
  ci/scripts/setup_smoke_tests.sh
Due: validate-pipelines

PP-7213 Run lint checks on node prs
  ci/tasks/node-build-pr.yml
Due: none

PP-7021 Add creation of test release for other apps
  ci/pipelines/test-deploy.yml
Due: validate-pipelines

PP-7021 Correct typo in `metadata`
  ci/pipelines/test-deploy.yml
Due: validate-pipelines

PP-7026 Fix deployment of metric-exporter
  ci/pipelines/deploy.yml
  ci/pipelines/test-deploy.yml
Due: validate-pipelines

PP-7013 Add main pipeline
  ci/pipelines/deploy.yml
  ci/pipelines/main.yml
Due: validate-pipelines

PP-7121 Remove pact validation prior to deployment
  ci/pipelines/deploy.yml
Due: validate-pipelines

PP-7213 Run Publicapi's provider verification after its pushed pacts
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-7253 Add jobs for connector consumer tests to PR pipeline
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-7253 Publish connector pacts as part of integration tests
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-7121 Tag connector pacts with main
  ci/pipelines/main.yml
Due: validate-pipelines

PP-7253 Validate pacts against consumers with main tag
  ci/tasks/pact-provider-test-preflight-check.yml
Due: none
