Repository alphagov/pay-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pipelines, terraform-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-pipelines
        name: Validate Concourse pipelines
        entry: fly validate-pipeline -c
        files: ci/pipelines/.+\.(yml|yaml)$
        language: system
      - id: terraform-fmt
        name: Run terraform fmt
        entry: terraform fmt -check -diff
        files: \.tf$
        language: system

PP-6085: Update external products-ui subdomain to "products."
  terraform/modules/aws/products-ui.tf
Due: terraform-fmt

Add links to new ADRs
  docs/source/adrs/index.html.md.erb
Due: none

Fix paths to ADRs
  docs/source/adrs/0005-inline-cardid-data-into-cardid-before-pushing-to-gov-uk-paas.html.md
  docs/source/adrs/0006-serve-cardid-data-from-an-internal-http-static-file-server.html.md
Due: none

PP-6128: add cardid-data app to the skeleton
  terraform/modules/paas/cardid-data.tf
  terraform/modules/paas/cardid.tf
Due: terraform-fmt

PP-6128 Add deployment of cardid-data
  ci/pipelines/deploy.yml
  paas/env_variables/staging.yml
  terraform/modules/paas/cardid-data.tf
Due: validate-pipelines, terraform-fmt

Trigger staging smoke tests every 10 mins
  ci/pipelines/deploy.yml
Due: validate-pipelines

Temporarily ignore cardid deploys
  ci/pipelines/deploy.yml
Due: validate-pipelines

PP-6128: Add cardid build
  ci/pipelines/build.yml
Due: validate-pipelines

PP-6085 Update publicauth salt for staging
  paas/env_variables/staging.yml
Due: none

Add internal route for publicauth
  terraform/modules/paas/publicapi.tf
  terraform/modules/paas/publicauth.tf
  terraform/modules/paas/selfservice.tf
Due: terraform-fmt

Add further publicauth urls to app-catalog service
  terraform/modules/paas/app-catalog-service.tf
Due: terraform-fmt

Remove public host & distribution for "publicauth"
  terraform/modules/aws/publicauth.tf
Due: terraform-fmt

Internal routes are http 8080
  terraform/modules/paas/app-catalog-service.tf
Due: terraform-fmt

Temporarily disable frontend field level encryption
  terraform/modules/aws/card-frontend.tf
Due: terraform-fmt

Add missing network policy products-ui -> adminusers
  terraform/modules/paas/products-ui.tf
Due: terraform-fmt

PP-6085: Remove price from smoketest adhoc product
  ci/tasks/smoke-test-user.yml
  client/client
Due: none

Add toolbox to staging deploy pipeline
  ci/pipelines/deploy.yml
Due: validate-pipelines

Add separate manifest for fake sqs application
  ci/pipelines/deploy.yml
  paas/fake-sqs.yml
Due: validate-pipelines

Add fake sqs config directly to manifest
  ci/pipelines/deploy.yml
  paas/fake-sqs.yml
Due: validate-pipelines

PP-6128: Trigger smoketests on cardid deploys
  ci/pipelines/deploy.yml
Due: validate-pipelines

Add external route to toolbox app
  terraform/modules/paas/main.tf
  terraform/modules/paas/toolbox.tf
Due: terraform-fmt

Add placeholder vars for toolbox app
  paas/env_variables/staging.yml
Due: none

Make github team id numeric
  paas/env_variables/staging.yml
Due: none

PP-6127 Add secret service for publicapi
  terraform/modules/credentials/main.tf
  terraform/modules/credentials/outputs.tf
  terraform/modules/credentials/variables.tf
  terraform/modules/paas/publicapi.tf
  terraform/modules/paas/variables.tf
  terraform/staging-paas/site.tf
  terraform/staging-paas/terraform.tfvars
  terraform/staging-paas/variables.tf
Due: terraform-fmt

Minor corrections to Terraform
  terraform/modules/paas/publicapi.tf
  terraform/staging-paas/site.tf
Due: terraform-fmt

PP-6127 Restructure credentials variable
  terraform/modules/paas/card-connector.tf
  terraform/modules/paas/publicapi.tf
  terraform/modules/paas/variables.tf
  terraform/staging-paas/site.tf
  terraform/staging-paas/terraform.tfvars
  terraform/staging-paas/variables.tf
Due: terraform-fmt

PP-6127 Add cred values and paths for card-connector
  terraform/modules/paas/card-connector.tf
  terraform/staging-paas/terraform.tfvars
Due: terraform-fmt

PP-6127 Set default value for some aws creds
  terraform/staging-paas/terraform.tfvars
Due: none

PP-6127 Add cardid-secret-service
  terraform/modules/paas/app-catalog-service.tf
  terraform/modules/paas/cardid.tf
  terraform/staging-paas/terraform.tfvars
Due: terraform-fmt

PP-6127: Add secret service to publicauth
  terraform/modules/paas/publicauth.tf
  terraform/staging-paas/terraform.tfvars
Due: terraform-fmt

PP-6127 Add card-frontend secret service
  terraform/modules/paas/card-frontend.tf
  terraform/staging-paas/terraform.tfvars
Due: terraform-fmt

PP-6127: Add toolbox-secret-service and corresponding creds
  terraform/modules/paas/toolbox.tf
  terraform/staging-paas/terraform.tfvars
Due: terraform-fmt

PP-6127 Add ledger secret service
  terraform/modules/paas/ledger.tf
  terraform/staging-paas/terraform.tfvars
Due: terraform-fmt

PP-6127 Add products-secret-service
  terraform/modules/paas/products.tf
  terraform/staging-paas/terraform.tfvars
Due: terraform-fmt

WIP
  .idea/misc.xml
  .idea/modules.xml
  .idea/pay-omnibus.iml
  .idea/sonarlint/issuestore/1/f/1f23514acf427cf182904f8225a73aa146ea51b2
  .idea/sonarlint/issuestore/2/3/23f3a1b1f9615edd97e4838884883d185442894c
  .idea/sonarlint/issuestore/3/5/35b8c13cf2eb2a194eada000eb310d65aed53b2a
  .idea/sonarlint/issuestore/5/4/546b94a9b2be300b23f42a971e5b34e642e786e4
  .idea/sonarlint/issuestore/5/5/550166a86bce14b2f2338cd10050eeb93d68ac05
  .idea/sonarlint/issuestore/5/f/5f2f639b8cf3f742caec7acf61a458a7c31d1d0a
  .idea/sonarlint/issuestore/6/3/63f6a4453c728d686b57e92f8cea8fcf8e5925b4
  .idea/sonarlint/issuestore/7/2/72e7e4f4d83d3d04590e5f3715fb9d4658296f01
  .idea/sonarlint/issuestore/7/a/7aedc9034a992fc813e1b34fce5da21156207f9f
  .idea/sonarlint/issuestore/7/c/7c11c3b0673fafa73f1bfa56457cc4fc20f05638
  .idea/sonarlint/issuestore/7/d/7d99d2e22955b295fa32904d2b0bfca575a54d47
  .idea/sonarlint/issuestore/8/3/836efb6e25a091dcb4ff8e1dbb2f0be6a5cbf14c
  .idea/sonarlint/issuestore/8/5/85199448809a8c6232339eab94a46b49219a46e9
  .idea/sonarlint/issuestore/8/9/891dff2e2264c847b3f8c2dcf475a07b041faf78
  .idea/sonarlint/issuestore/8/c/8c6b93ccf4fc9a3982f463f027588865bac7ab8b
  .idea/sonarlint/issuestore/8/d/8d51b9fa4c203cd10a96cd432cc48a9f04602764
  .idea/sonarlint/issuestore/a/0/a0ca238ccf59a7fb2931fae146da2ac02a22f839
  .idea/sonarlint/issuestore/a/9/a9c18f64b76b72fb39cca8ef36fc13389c0d1a3c
  .idea/sonarlint/issuestore/c/a/caef1a529ae5ccbb7ca97d6c0d38616ba205ceb9
  .idea/sonarlint/issuestore/d/0/d0153735e682ba09db7e70acdc62ee2814fe2ba1
  .idea/sonarlint/issuestore/e/8/e887c6e5c5d33215cc2c40fe9130dc4effab8776
  .idea/sonarlint/issuestore/e/a/ea0d81accbcf7df0eda2cf9cb1b7a199a5fdbcda
  .idea/sonarlint/issuestore/f/b/fbccaa0621b2b07010ced4f20a701c1370899dbf
  .idea/sonarlint/issuestore/f/f/ffdffe9667add705e827f4a957eab8bc2ed7a645
  .idea/sonarlint/issuestore/index.pb
  .idea/vcs.xml
  .idea/workspace.xml
  Makefile
  ci/pipelines/deploy.yml
  ci/pipelines/endtoend-tests.yml
  paas/test-apps.yml
Due: validate-pipelines

PP-6127 Add products-ui-secret-service
  terraform/modules/paas/products-ui.tf
  terraform/staging-paas/terraform.tfvars
Due: terraform-fmt

PP-6127: Add secret service for adminusers
  terraform/modules/paas/adminusers.tf
  terraform/staging-paas/terraform.tfvars
Due: terraform-fmt

Add card frontend support url to app catalog
  terraform/modules/paas/app-catalog-service.tf
Due: terraform-fmt

PP-6127 Update card-connector secret service creds
  terraform/staging-paas/terraform.tfvars
Due: none

PP-6127: Add dd-frontend secret service and creds
  terraform/modules/paas/directdebit-frontend.tf
  terraform/staging-paas/terraform.tfvars
Due: terraform-fmt
