Repository alphagov/pay-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pipelines, terraform-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-pipelines
        name: Validate Concourse pipelines
        entry: fly validate-pipeline -c
        files: ci/pipelines/.+\.(yml|yaml)$
        language: system
      - id: terraform-fmt
        name: Run terraform fmt
        entry: terraform fmt -check -diff
        files: \.tf$
        language: system

Add PR builds for remaining apps. Also add global max in-flight config.
  ci/pipelines/pr.yml
Due: validate-pipelines

Add concourse-runner image to run Pay builds
  ci/docker/concourse-runner/Dockerfile
  ci/docker/concourse-runner/README.md
  ci/docker/concourse-runner/docker-helpers.sh
  ci/docker/concourse-runner/docker-wrapper
  ci/pipelines/concourse-runner.yml
  ci/pipelines/pr.yml
Due: validate-pipelines

BAU Remove Unused Tasks
  ci/pipelines/smoke-tests.yml
  ci/tasks/copy-cardid-data.yaml
  ci/tasks/frontend.yaml
  ci/tasks/node-test.yaml
Due: validate-pipelines

BAU Fix Concourse Runner Source Context
  ci/pipelines/concourse-runner.yml
Due: validate-pipelines

Switch to dev pr-resource image with submodule support
  ci/pipelines/pr.yml
Due: validate-pipelines

BAU Add Products UI To PR Pipeline
  ci/pipelines/pr.yml
Due: validate-pipelines

BAU Add Products and Fix YAML for products-ui
  ci/pipelines/pr.yml
Due: validate-pipelines

First pass at AWS WAFv2 resource/data
  terraform/modules/aws/publicapi.tf
  terraform/modules/aws/waf_v2_acl/configure_aws_wafv2.rb
  terraform/modules/aws/waf_v2_acl/main.tf
  terraform/modules/aws/waf_v2_acl/outputs.tf
  terraform/modules/aws/waf_v2_acl/rules.tpl
  terraform/modules/aws/waf_v2_acl/variables.tf
Due: terraform-fmt

Add WAF ACL to publicapi
  terraform/modules/aws/publicapi.tf
Due: terraform-fmt

Refactor WAF module
  terraform/modules/aws/waf_v2_acl/configure_aws_wafv2.rb
  terraform/modules/aws/waf_v2_acl/main.tf
Due: terraform-fmt

Move waf fetch operation to separate script
  terraform/modules/aws/waf_v2_acl/configure_aws_wafv2.rb
  terraform/modules/aws/waf_v2_acl/fetch_aws_wafv2.rb
  terraform/modules/aws/waf_v2_acl/main.tf
  terraform/modules/aws/waf_v2_acl/rules.tpl
Due: terraform-fmt

Remove null_resource destroy script as this runs every update
  terraform/modules/aws/waf_v2_acl/configure_aws_wafv2.rb
  terraform/modules/aws/waf_v2_acl/main.tf
  terraform/modules/aws/waf_v2_acl/rules.tpl
Due: terraform-fmt

PP-6447 Add WAF To Other Applcations
  terraform/modules/aws/card-frontend.tf
  terraform/modules/aws/directdebit-frontend.tf
  terraform/modules/aws/notifications.tf
  terraform/modules/aws/products-ui.tf
  terraform/modules/aws/selfservice.tf
Due: terraform-fmt

PP-6447 Fix Quotes
  terraform/modules/aws/waf_v2_acl/main.tf
Due: terraform-fmt

PP-6447: Attach WAF ACLs to public Cloudfront distributions
  terraform/modules/aws/card-frontend.tf
  terraform/modules/aws/directdebit-frontend.tf
  terraform/modules/aws/notifications.tf
  terraform/modules/aws/products-ui.tf
  terraform/modules/aws/selfservice.tf
Due: terraform-fmt

PP-6447: Support overriding of WAF ACL configuration
  terraform/modules/aws/publicapi.tf
  terraform/modules/aws/waf_v2_acl/main.tf
  terraform/modules/aws/waf_v2_acl/variables.tf
Due: terraform-fmt

PP-6447 Create Kinesis Stream Output to S3
  terraform/modules/aws/kinesis-firehose.tf
Due: terraform-fmt

PP-6447: Add logging config to WAFv2 terraform
  terraform/modules/aws/publicapi.tf
  terraform/modules/aws/waf_v2_acl/configure_aws_wafv2.rb
  terraform/modules/aws/waf_v2_acl/main.tf
  terraform/modules/aws/waf_v2_acl/variables.tf
Due: terraform-fmt

PP-6447 Create WAFF Per Application
  terraform/modules/aws/card-frontend.tf
  terraform/modules/aws/directdebit-frontend.tf
  terraform/modules/aws/notifications.tf
  terraform/modules/aws/products-ui.tf
  terraform/modules/aws/selfservice.tf
  terraform/modules/aws/waf_v2_acl/configure_aws_wafv2.rb
Due: terraform-fmt

Fix error when redacted field configuration is empty
  terraform/modules/aws/waf_v2_acl/configure_aws_wafv2.rb
  terraform/modules/aws/waf_v2_acl/variables.tf
Due: terraform-fmt

PP-6447 Redact Card Frontend Cookie Header
  terraform/modules/aws/card-frontend.tf
Due: terraform-fmt

PP-6444 Add npm to concourse runner
  ci/docker/concourse-runner/Dockerfile
Due: none

PP-6448: Add WAF/Kinesis/Splunk data transformer lambda
  lambda/waf-to-splunk-kinesis-data-transformation/README.md
  lambda/waf-to-splunk-kinesis-data-transformation/index.js
Due: none

Add README.md for WAF transformation lambda
  lambda/waf-to-splunk-kinesis-data-transformation/README.md
Due: none

PP-6448 Add Tests for Lambda
  lambda/waf-to-splunk-kinesis-data-transformation/.gitingore
  lambda/waf-to-splunk-kinesis-data-transformation/index.js
  lambda/waf-to-splunk-kinesis-data-transformation/index.test.js
  lambda/waf-to-splunk-kinesis-data-transformation/package.json
  lambda/waf-to-splunk-kinesis-data-transformation/yarn.lock
Due: none

PP-6448 Handle RecordId
  lambda/waf-to-splunk-kinesis-data-transformation/index.test.js
Due: none

Use npm package-lock instead of yarn
  lambda/waf-to-splunk-kinesis-data-transformation/package-lock.json
  lambda/waf-to-splunk-kinesis-data-transformation/yarn.lock
Due: none

Add development info to README.md
  lambda/waf-to-splunk-kinesis-data-transformation/README.md
Due: none

Drop ALLOW logs from WAF log Kinesis data transformer
  lambda/waf-to-splunk-kinesis-data-transformation/index.js
  lambda/waf-to-splunk-kinesis-data-transformation/index.test.js
Due: none

PP-6488: Add hosted graphite IAM user to AWS account
  terraform/modules/aws/hosted-graphite.tf
Due: terraform-fmt

Refactor WAF logging & Kinesis pipeline config into module
  terraform/modules/aws/card-frontend.tf
  terraform/modules/aws/directdebit-frontend.tf
  terraform/modules/aws/logs.tf
  terraform/modules/aws/notifications.tf
  terraform/modules/aws/products-ui.tf
  terraform/modules/aws/publicapi.tf
  terraform/modules/aws/selfservice.tf
  terraform/modules/aws/waf_logging/kinesis-firehose.tf
  terraform/modules/aws/waf_logging/main.tf
  terraform/modules/aws/waf_logging/outputs.tf
  terraform/modules/aws/waf_logging/s3.tf
  terraform/modules/aws/waf_logging/variables.tf
Due: terraform-fmt

PP-6448 Lambda Function From Kinesis
  terraform/modules/aws/waf_logging/kinesis-firehose.tf
  terraform/modules/aws/waf_logging/lambda.tf
  terraform/modules/aws/waf_logging/variables.tf
Due: terraform-fmt

BAU Remove Interpolated Expression
  terraform/modules/aws/hosted-graphite.tf
Due: terraform-fmt

Refine waf log lambda terraform
  lambda/waf-to-splunk-kinesis-data-transformation/.gitingore
  terraform/modules/aws/logs.tf
  terraform/modules/aws/variables.tf
  terraform/modules/aws/waf_logging/lambda.tf
  terraform/staging-aws/site.tf
Due: terraform-fmt

BAU Add gitignore
  .gitingore
Due: none

Kinesis lambda IAM permissions WIP
  terraform/modules/aws/waf_logging/kinesis-firehose.tf
  terraform/modules/aws/waf_logging/lambda.tf
  terraform/modules/aws/waf_logging/s3.tf
Due: terraform-fmt

Log dropped and ok counts from transformation lambda
  lambda/waf-to-splunk-kinesis-data-transformation/index.js
Due: none

Fix waf firehose config and Cloudwatch log permissons
  terraform/modules/aws/waf_logging/kinesis-firehose.tf
  terraform/modules/aws/waf_logging/lambda.tf
  terraform/staging-aws/site.tf
Due: terraform-fmt

Add ADR for WAF log delivery to Splunk
  docs/source/adrs/0009-waf-log-delivery-to-splunk.html.md
  docs/source/adrs/index.html.md.erb
  docs/source/images/adrs/0009-waf-log-sequence-diagram.svg
Due: none

Fix processing lambda counts
  lambda/waf-to-splunk-kinesis-data-transformation/index.js
Due: none
