Repository alphagov/pay-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pipelines, terraform-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-pipelines
        name: Validate Concourse pipelines
        entry: fly validate-pipeline -c
        files: ci/pipelines/.+\.(yml|yaml)$
        language: system
      - id: terraform-fmt
        name: Run terraform fmt
        entry: terraform fmt -check -diff
        files: \.tf$
        language: system

PP-6722 Fix typo in broker url
  ci/tasks/pact-provider-test-preflight-check.yml
Due: none

PP-6722 Fix typo
  ci/tasks/pact-provider-test-preflight-check.yml
Due: none

BAU: Run pipecleaner on all omnibus pipelines and tasks
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6659 cloudfoundry_service_instance is an object
  terraform/modules/paas/ledger.tf
  terraform/modules/paas/selfservice.tf
Due: terraform-fmt

BAU Put broker_url in double quotes to permit parameter expansion
  ci/tasks/pact-provider-master-verification.yml
Due: none

PP-6823 Add pay-java-commons to pr pipeline
  ci/pipelines/pr.yml
Due: validate-pipelines

BAU Fix pact broker host var when running mvn test
  ci/tasks/pact-provider-master-verification.yml
Due: none

PP-6832 Send correct test status for node apps
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6832 Stop containers used for e2e
  ci/tasks/endtoend/task.yml
Due: none

PP-6832 Stop docker containers in clean up trap
  ci/tasks/endtoend/task.yml
Due: none

PP-6832 Amend docker stop command
  ci/tasks/endtoend/task.yml
Due: none

PP-6845 Add Pay JS Commons PR Test
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6845 Upgrade Git on node-stretch
  ci/tasks/node-build-pr.yml
Due: none

PP-6845 Remove apt-get update
  ci/tasks/node-build-pr.yml
Due: none

PP-6845 Add Chromium
  ci/tasks/node-build-pr.yml
Due: none

Revert "PP-6845 Add Chromium"
  ci/tasks/node-build-pr.yml
Due: none

PP-6845 Move pay-js-commons
  ci/pipelines/pr.yml
  ci/tasks/node-build-pr.yml
Due: validate-pipelines

PP-6845 Fix Pipeline
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6763 Remove Direct Debit e2e Tests
  ci/pipelines/pr.yml
  ci/tasks/endtoend/directdebit/docker-compose.yml
  ci/tasks/endtoend/docker-config/directdebit-frontend.env
  ci/tasks/endtoend/docker-config/directdebitconnector.env
  ci/tasks/endtoend/task.yml
Due: validate-pipelines

PaaS environments
  docs/source/adrs/adr-0012-environments.md
Due: none

BAU ADR Split Concourse Teams
  docs/source/adrs/0012-concourse-teams.html.md
Due: none

PP-6870: Create ADR for test environment
  docs/source/adrs/0013-test-environment.html.md
Due: none

BAU pay-stubs builds
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6883 Notify On Staging
  paas/env_variables/staging.yml
Due: none

PP-6883 Notify Template and API Key
  terraform/staging-paas/terraform.tfvars
Due: none

PP-6854 Remove name field from steps
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6854 Integration Tool Merge -> Checkout
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6584 put skip_download
  ci/pipelines/pr.yml
Due: validate-pipelines

Add new Pay test account
  terraform/test-account/site.tf
Due: terraform-fmt

Add test account users to iam.tf
  terraform/test-account/iam.tf
Due: terraform-fmt

Create TF state bucket module definition for all environments
  terraform/modules/state-bucket/state-bucket.tf
  terraform/modules/state-bucket/variables.tf
Due: terraform-fmt

Use eu-west-1 region and update to TF 0.12
  terraform/test-account/site.tf
Due: terraform-fmt

BAU: Add gds-pre-commit secrets detection config
  .secrets.baseline
Due: none

PP-6883 Add tfvars for adminusers and connector
  terraform/staging-paas/terraform.tfvars
Due: none

PP-6883 Fix Connector Placeholder
  terraform/staging-paas/terraform.tfvars
Due: none

PP-6883 Add Connector Refund Email
  terraform/staging-paas/terraform.tfvars
Due: none

P-6883 Remove Notify Base URL
  terraform/staging-paas/terraform.tfvars
Due: none

PP-6917 Add memory limit for e2e tasks
  ci/tasks/endtoend/task.yml
Due: none

PP-6934 Run e2e on Java apps serially
  ci/pipelines/pr.yml
Due: validate-pipelines
