Repository alphagov/pay-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pipelines, terraform-fmt

validate-pipelines:
  name: Validate Concourse pipelines
  entry: fly validate-pipeline -c
  language: system

terraform-fmt:
  name: Run terraform fmt
  entry: terraform fmt -check -diff
  language: system

PP-6030 Add staging env vars
  paas/env_variables/staging.yml
Due: none

Omnibus docs updates
  docs/config/tech-docs.yml
  docs/source/adrs/0001-record-architecture-decisions.html.md
  docs/source/adrs/0002-use-terraform-to-manage-the-environment-skeleton.html.md
  docs/source/adrs/0003-use-a-user-provided-service-for-service-discovery.html.md
  docs/source/adrs/index.html.md.erb
  docs/source/images/busfactory.jpg
  docs/source/images/omnibus.jpg
  docs/source/images/routemasterbp.jpg
  docs/source/infrastructure.html.md.erb
Due: none

PP-6030 Fix typo
  paas/env_variables/staging.yml
Due: none

PP-6030 Remove dd-frontend sentry dsn
  paas/env_variables/staging.yml
Due: none

Show staging deploys with related smoke tests
  ci/pipelines/deploy.yml
Due: validate-pipelines

BAU: fix link in ADR
  docs/source/adrs/0003-use-a-user-provided-service-for-service-discovery.html.md
Due: none

Ignore git describe errors when no tag is found
  ci/tasks/checkout-commit.yml
Due: none

Exit on error after build number is caluculated
  ci/tasks/checkout-commit.yml
Due: none

Get create test user working
  ci/pipelines/dev-env.yml
Due: validate-pipelines

Attempt to fix args for create test user task
  ci/pipelines/dev-env.yml
Due: validate-pipelines

Attempt again to get create user task working
  ci/pipelines/dev-env.yml
Due: validate-pipelines

PP-6031 Correc yaml -> yml in maven_task
  ci/tasks/maven-build.yml
Due: none

PP-6031 Copy yaml and yml to the archive
  ci/tasks/maven-build.yml
Due: none

PP-6031 Remove target directory from java artefact
  ci/tasks/maven-build.yml
Due: none

PP-6031 fix the tar again
  ci/tasks/maven-build.yml
Due: none

[WIP] CF distribution for each public host
  terraform/modules/aws/cloudfront/card-frontend.tf
  terraform/modules/aws/cloudfront/directdebit-frontend.tf
  terraform/modules/aws/cloudfront/logs.tf
  terraform/modules/aws/cloudfront/notifications.tf
  terraform/modules/aws/cloudfront/products-ui.tf
  terraform/modules/aws/cloudfront/provision_fle_config.rb
  terraform/modules/aws/cloudfront/publicapi.tf
  terraform/modules/aws/cloudfront/publicauth.tf
  terraform/modules/aws/cloudfront/selfservice.tf
  terraform/modules/aws/route53.tf
  terraform/modules/aws/variables.tf
Due: terraform-fmt

Remove unused tf variable
  terraform/staging/site.tf
Due: terraform-fmt

PP-6031 fix the path to the tar
  ci/tasks/maven-build.yml
Due: none

Flatten aws module until apps require their own modules
  terraform/modules/aws/card-frontend.tf
  terraform/modules/aws/directdebit-frontend.tf
  terraform/modules/aws/logs.tf
  terraform/modules/aws/notifications.tf
  terraform/modules/aws/products-ui.tf
  terraform/modules/aws/provision_fle_config.rb
  terraform/modules/aws/publicapi.tf
  terraform/modules/aws/publicauth.tf
  terraform/modules/aws/selfservice.tf
Due: terraform-fmt

PP-6031 switch card-connector to deploy with buildpack
  ci/pipelines/deploy.yml
Due: validate-pipelines

PP-6031 Switch java apps to buildpacks
  ci/pipelines/deploy.yml
  paas/env_variables/staging.yml
Due: validate-pipelines

PP-6031 jar needs to be in target
  ci/tasks/maven-build.yml
Due: none

PP-6068: Document how we will push cardid-data
  docs/source/adrs/0005-inline-cardid-data-into-cardid-before-pushing-to-gov-uk-paas.md
Due: none

Skip waiting for CF distributions to finish creating
  terraform/modules/aws/card-frontend.tf
  terraform/modules/aws/directdebit-frontend.tf
  terraform/modules/aws/notifications.tf
  terraform/modules/aws/products-ui.tf
  terraform/modules/aws/publicapi.tf
  terraform/modules/aws/publicauth.tf
  terraform/modules/aws/selfservice.tf
Due: terraform-fmt

PP-6031 Correct archive locations and a few envs
  ci/pipelines/deploy.yml
  paas/env_variables/staging.yml
Due: validate-pipelines

PP-6068: Explain how pushing cardid will be tricky
  docs/source/adrs/0005-inline-cardid-data-into-cardid-before-pushing-to-gov-uk-paas.md
Due: none

PP-6031 Update publicapi rate limiter default vars for staging
  paas/env_variables/staging.yml
Due: none

PP-6068: Document alternative approach to cardid-data
  docs/source/adrs/0005-inline-cardid-data-into-cardid-before-pushing-to-gov-uk-paas.md
  docs/source/adrs/0006-serve-cardid-data-from-an-internal-http-static-file-server.md
Due: none

PP-6085 Add the env-map.yml to the release archive
  ci/tasks/maven-build.yml
Due: none

PP-6085 Add staging-cde creds
  terraform/modules/paas/app-catalog-service.tf
Due: terraform-fmt

Fix terraform formatting
  terraform/modules/paas/app-catalog-service.tf
Due: terraform-fmt

Update Terraform Cloudfoundry provider to v0.11.0
  terraform/dev-paas/site.tf
  terraform/staging-paas/site.tf
Due: terraform-fmt

Fix release tag calculation
  ci/tasks/checkout-commit.yml
Due: none

Ignore changes to health_check_type
  terraform/modules/paas/adminusers.tf
  terraform/modules/paas/card-connector.tf
  terraform/modules/paas/card-frontend.tf
  terraform/modules/paas/cardid.tf
  terraform/modules/paas/directdebit-connector.tf
  terraform/modules/paas/directdebit-frontend.tf
  terraform/modules/paas/ledger.tf
  terraform/modules/paas/notifications.tf
  terraform/modules/paas/products-ui.tf
  terraform/modules/paas/products.tf
  terraform/modules/paas/publicapi.tf
  terraform/modules/paas/publicauth.tf
  terraform/modules/paas/selfservice.tf
  terraform/modules/paas/toolbox.tf
Due: terraform-fmt

Add SQS user proviced service inside the CDE space
  terraform/modules/paas-stub-sqs/sqs.tf
Due: terraform-fmt

PP-6085: Add arbitrary product_ui routes to app-catalog service
  terraform/modules/paas/app-catalog-service.tf
Due: terraform-fmt

Add terraform remote state config for staging-paas
  terraform/staging-paas/site.tf
Due: terraform-fmt

PP-6085 Remove app url from staging.yml
  paas/env_variables/staging.yml
Due: none

Adds build/release pipeline for publicauth
  ci/pipelines/build.yml
Due: validate-pipelines

Add missing publicapi bcrypt salt to staging env data
  paas/env_variables/staging.yml
Due: none

Path conditions:
  validate-pipelines: any of: ci/pipelines/.+\.(yml|yaml)$
  terraform-fmt: any of: \.tf$
