Repository alphagov/pay-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pipelines, terraform-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-pipelines
        name: Validate Concourse pipelines
        entry: fly validate-pipeline -c
        files: ci/pipelines/.+\.(yml|yaml)$
        language: system
      - id: terraform-fmt
        name: Run terraform fmt
        entry: terraform fmt -check -diff
        files: \.tf$
        language: system

Cache npm directory node_modules cache not required
  ci/tasks/node-build.yml
Due: none

Set npm cache config explicitly to relative directory
  ci/tasks/node-build.yml
Due: none

Add end-to-end pipeline using docker-compose-in-docker
  ci/pipelines/end-to-end.yml
Due: validate-pipelines

Tidy e2e container resources
  ci/pipelines/end-to-end.yml
Due: validate-pipelines

Wait for containers to start and pass healthchecks
  ci/pipelines/end-to-end.yml
Due: validate-pipelines

Fix script container cleanup on exit
  ci/pipelines/end-to-end.yml
Due: validate-pipelines

Add simple carbon relay & graphite app config
  paas/carbon-relay.yml
Due: none

PP-6245: Add stunnel TLS sidecar to carbon relay app
  paas/carbon-relay.yml
  paas/carbon-relay/Dockerfile
  paas/carbon-relay/manifest.yml
  paas/carbon-relay/start-stunnel.sh
Due: none

Correct stunnel start script path
  paas/carbon-relay/manifest.yml
Due: none

Don't abort create user if app isn't up
  client/client
Due: none

Revert "Don't abort create user if app isn't up"
  client/client
Due: none

PP-6245 Carbon-relay and stunnel in apt buildback
  paas/carbon-relay/Dockerfile
  paas/carbon-relay/apt.yml
  paas/carbon-relay/carbon-relay-ng.ini.erb
  paas/carbon-relay/manifest.yml
  paas/carbon-relay/start-stunnel.sh
  paas/carbon-relay/start.sh
  paas/carbon-relay/stunnel.conf.erb
Due: none

PP-6245 Carbon-relay and stunnel in apt buildback
  paas/carbon-relay/apt.yml
  paas/carbon-relay/carbon-relay-ng.ini.erb
  paas/carbon-relay/manifest.yml
  paas/carbon-relay/start.sh
  paas/carbon-relay/stunnel.conf.erb
Due: none

PP-6254 Run stunnel as a 'side-car'
  paas/carbon-relay/manifest.yml
  paas/carbon-relay/start_carbon_relay.sh
  paas/carbon-relay/start_stunnel.sh
Due: none

PP-6254 Add carbon-relay app to tf
  paas/carbon-relay/carbon-relay-ng.ini.erb
  paas/carbon-relay/env-map.yml
  paas/carbon-relay/manifest.yml
  paas/carbon-relay/stunnel.conf.erb
  terraform/modules/paas/carbon-relay.tf
  terraform/staging-paas/terraform.tfvars
Due: terraform-fmt

PP-6245 Add carbon-relay route and port to app-catalog
  terraform/modules/paas/app-catalog-service.tf
  terraform/modules/paas/carbon-relay.tf
Due: terraform-fmt

PP-6245 Add network policies to carbon-relay
  terraform/modules/paas/carbon-relay.tf
Due: terraform-fmt

PP-6254 Add deploy carbon-relay job
  ci/pipelines/deploy.yml
Due: validate-pipelines

PP-6254: Start carbon-relay apps using exec
  paas/carbon-relay/start_carbon_relay.sh
  paas/carbon-relay/start_stunnel.sh
Due: none

Add metric-exporter terraform app definition
  terraform/modules/paas/metric-exporter.tf
Due: terraform-fmt

Add placeholder config for metric-exporter
  terraform/modules/paas/metric-exporter.tf
  terraform/staging-paas/terraform.tfvars
Due: terraform-fmt

Add custom metric-exporter app manifest.yml
  paas/metric-exporter/manifest.yml
Due: none

Add staging CI/Deploy job for metric-exporter
  ci/pipelines/deploy.yml
Due: validate-pipelines

Add metric exporter env-map.ym & secret service credential mappings
  paas/metric-exporter/env-map.yml
  terraform/staging-paas/terraform.tfvars
Due: none

Add copy-custom-env-map-task
  ci/pipelines/deploy.yml
Due: validate-pipelines

Add output to metric-exporter task
  ci/pipelines/deploy.yml
  paas/metric-exporter/manifest.yml
Due: validate-pipelines

Switch metric-exporter buildpack order
  paas/metric-exporter/manifest.yml
Due: none

Fix incorrect jq path
  paas/metric-exporter/env-map.yml
Due: none

Fix incorrect env var mapping
  paas/metric-exporter/env-map.yml
  paas/metric-exporter/manifest.yml
Due: none

Use hg api key instead of account id
  paas/metric-exporter/env-map.yml
Due: none

BAU: Trigger carbon-relay deploy only when app config changes
  ci/pipelines/deploy.yml
Due: validate-pipelines

Deploy carbon-relay using cf v3 commands
  ci/pipelines/deploy.yml
  ci/tasks/cf-v3-deploy.yml
Due: validate-pipelines

Fix carbon-relay deploy
  ci/pipelines/deploy.yml
  ci/tasks/cf-v3-deploy.yml
Due: validate-pipelines

Add cf v3 deploy task inputs
  ci/pipelines/deploy.yml
  ci/tasks/cf-v3-deploy.yml
Due: validate-pipelines

change directory before applying manifest
  ci/pipelines/deploy.yml
  ci/tasks/cf-v3-deploy.yml
Due: validate-pipelines

Set default manifest filename in v3 deploy task
  ci/pipelines/deploy.yml
  ci/tasks/cf-v3-deploy.yml
Due: validate-pipelines

PP-6036 Add CI pipleline for pay-team-manual
  ci/pipelines/pay-team-manual.yml
Due: validate-pipelines

Create Splunk log service instance in cde & non cde spaces
  terraform/modules/paas/splunk-log-drain.tf
Due: terraform-fmt

Minor terraform validation fixes
  terraform/modules/aws/card-frontend.tf
  terraform/modules/aws/directdebit-frontend.tf
  terraform/modules/aws/route53.tf
  terraform/staging/site.tf
Due: terraform-fmt
