Repository alphagov/pay-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pipelines, terraform-fmt

validate-pipelines:
  name: Validate Concourse pipelines
  entry: fly validate-pipeline -c
  language: system

terraform-fmt:
  name: Run terraform fmt
  entry: terraform fmt -check -diff
  language: system

Add support for pay-dev-pass credential store
  terraform/modules/credentials/main.tf
  terraform/modules/credentials/outputs.tf
  terraform/modules/credentials/variables.tf
  terraform/staging-paas/site.tf
Due: terraform-fmt

PP-6127: Add dd connector secrets service and creds
  terraform/modules/paas/directdebit-connector.tf
  terraform/staging-paas/terraform.tfvars
Due: terraform-fmt

Merge low & dev creds into secrets output
  terraform/modules/credentials/outputs.tf
Due: terraform-fmt

PP-6127 Selfservice secrets
  terraform/staging-paas/terraform.tfvars
Due: none

PP-6127 Provision selfservice secrets service
  terraform/modules/paas/selfservice.tf
Due: terraform-fmt

WIP: migration concourse task
  ci/pipelines/deploy.yml
  ci/scripts/migrate-database.sh
Due: validate-pipelines

Extract migration logs and parse task exit code
  ci/pipelines/deploy.yml
Due: validate-pipelines

Add debug info
  ci/pipelines/deploy.yml
Due: validate-pipelines

Add all staging db migrations to deploy pipeline
  ci/pipelines/deploy.yml
Due: validate-pipelines

Move migration task into bash script
  ci/scripts/migrate-database.sh
  ci/scripts/migrate_database.sh
Due: none

Add migrations to deploy pipline job groups
  ci/pipelines/deploy.yml
Due: validate-pipelines

Fix ledger app package
  ci/pipelines/deploy.yml
Due: validate-pipelines

Limit smoke test build logs to 1000
  ci/pipelines/deploy.yml
Due: validate-pipelines

Remove migration config duplication in deploy.yml pipeline
  ci/pipelines/deploy.yml
Due: validate-pipelines

PP-6176 Fluentd logging app
  .gitignore
  paas/fluentbit/Dockerfile
  paas/fluentbit/fluent-bit.conf
  paas/fluentbit/manifest.yml
  paas/fluentbit/parsers.conf
  paas/fluentd/Dockerfile
  paas/fluentd/deploy_fd.sh
  paas/fluentd/docker-startup.sh
  paas/fluentd/fluent_template.conf
  paas/fluentd/manifest.yml
Due: none

Add new OAuth creds for toolbox in paas staging
  terraform/staging-paas/terraform.tfvars
Due: none

wip
  terraform/staging-paas/terraform.tfvars
Due: none

Support multi-line secrets from pass resources
  terraform/modules/credentials/main.tf
Due: terraform-fmt

PP-6147: Re-enable FLE for card-frontend
  terraform/modules/aws/card-frontend.tf
  terraform/modules/aws/provision_fle_config.rb
Due: terraform-fmt

wip: build cardfrontend from branch, provide creds
  ci/pipelines/build.yml
  terraform/staging-paas/terraform.tfvars
Due: validate-pipelines

Match quantity to number of FLE fields
  terraform/modules/aws/provision_fle_config.rb
Due: none

PP-6206 Enable sqs for staging
  terraform/staging-paas/terraform.tfvars
Due: none

Ensure FLE does not block requests when other content types are used
  terraform/modules/aws/provision_fle_config.rb
Due: none

PP-6146 Cleanup
  paas/env_variables/staging.yml
  paas/pay-apps.yml
  terraform/staging-paas/terraform.tfvars
Due: none

Add environment for user research
  ci/config/dev-pipelines.yml
  ci/config/space-users/dev-user-research
Due: none

Fix file name
  ci/config/space-users/dev-user-research.csv
Due: none

Fix space users config for dev-user-research space
  ci/config/space-users/dev-user-research.csv
Due: none

Add Iqbal to dev-user-research space
  ci/config/space-users/dev-user-research.csv
Due: none

Use SSO user id for Stephen Daly for dev-user-reseach space
  ci/config/space-users/dev-user-research.csv
Due: none

PP-6146: Restore card-frontend builds on master branch
  ci/pipelines/build.yml
Due: validate-pipelines

Add staging notifications hostname
  paas/env_variables/staging.yml
Due: none

PP-6146: Ensure Notifications app is pushed as a Docker app
  terraform/modules/paas/notifications.tf
Due: terraform-fmt

PP-6146: Create a new smoketest user with new account
  client/client
Due: none

Remove node_modules directory before installing prod dependencies
  ci/tasks/node-build.yml
Due: none

WIP refactor app deployment pipelines
  ci/pipelines/deploy.yml
Due: validate-pipelines

Futher refactoring and grouping jobs by service
  ci/pipelines/deploy.yml
Due: validate-pipelines

Merge build pipeline into refactored deploy pipline
  ci/pipelines/build.yml
  ci/pipelines/deploy.yml
Due: validate-pipelines

Use different task cache directories for dev and prod dependencies
  ci/tasks/node-build.yml
Due: none

Bump node build environment to 12.14.x
  ci/tasks/node-build.yml
Due: none

Test alternative npm module cache path
  ci/tasks/node-build.yml
Due: none

Path conditions:
  validate-pipelines: any of: ci/pipelines/.+\.(yml|yaml)$
  terraform-fmt: any of: \.tf$
