Repository alphagov/pay-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pipelines, terraform-fmt

validate-pipelines:
  name: Validate Concourse pipelines
  entry: fly validate-pipeline -c
  language: system

terraform-fmt:
  name: Run terraform fmt
  entry: terraform fmt -check -diff
  language: system

Document Terraform setup and usage
  docs/source/infrastructure.html.md.erb
Due: none

Add a dev-env for richard the second
  ci/config/dev-pipelines.yml
  ci/config/space-users/dev-towers.csv
  ci/pipelines/dev-pipelines.yml
Due: validate-pipelines

Correct docker secret names for local concourse
  Makefile
Due: none

!fixup look sharp
  ci/pipelines/dev-env.yml
Due: validate-pipelines

PP-6030 Little refactor
  ci/pipelines/deploy_from_release.yml
Due: validate-pipelines

Refactor download task into separate file
  ci/pipelines/deploy_from_release.yml
  ci/tasks/download_deployment_artifact.yml
  paas/env_variables/staging.yml
Due: validate-pipelines

wip docs
  docs/source/environments.html.md.erb
  docs/source/index.html.md.erb
  docs/source/onboarding.html.md.erb
Due: none

Use Terraform to provision Pay PaaS environment
  terraform/.gitignore
  terraform/dev-paas/site.tf
  terraform/modules/aws/cloudfront.tf
  terraform/modules/aws/main.tf
  terraform/modules/aws/route53.tf
  terraform/modules/aws/templates/provision_fle_config.rb
  terraform/modules/aws/variables.tf
  terraform/modules/paas/external_apps.tf
  terraform/modules/paas/internal_apps.tf
  terraform/modules/paas/main.tf
  terraform/modules/paas/modules/app/main.tf
  terraform/modules/paas/modules/app/outputs.tf
  terraform/modules/paas/modules/app/variables.tf
  terraform/modules/paas/stubs.tf
  terraform/modules/paas/variables.tf
  terraform/staging-paas/site.tf
  terraform/staging/site.tf
Due: terraform-fmt

wip docs
  docs/source/environments.html.md.erb
Due: none

wip concourse
  ci/pipelines/dev-env.yml
Due: validate-pipelines

Remove actions from provision_space script
  paas/provision_space.sh
Due: none

wip - try to run terraform on concourse
  ci/pipelines/dev-env.yml
Due: validate-pipelines

move variables into vars file
  ci/pipelines/deploy_from_release.yml
  paas/env_variables/dev-dan.yml
Due: validate-pipelines

Refactor build pipline for all node apps
  ci/pipelines/build.yml
  ci/pipelines/test-travis.yml
  ci/tasks/checkout-commit.yaml
  ci/tasks/node-build.yaml
Due: validate-pipelines

PP-6030 Switch card-frontend to deploy from buildpack
  ci/pipelines/deploy.yml
  ci/tasks/download-deployment-artifact.yml
  paas/env_variables/staging.yml
Due: validate-pipelines

Rename .yaml to .yml
  ci/tasks/checkout-commit.yml
  ci/tasks/node-build.yml
Due: none

Fix missing double quote
  ci/tasks/checkout-commit.yml
Due: none

Update release number parser
  ci/tasks/checkout-commit.yml
Due: none

PP-6030 Correct config errors
  ci/pipelines/deploy.yml
Due: validate-pipelines

PP-6030 Push card-frontend to staging-cde
  ci/pipelines/deploy.yml
Due: validate-pipelines

Tidy checkout-commit task
  ci/tasks/checkout-commit.yml
Due: none

PP-6030 Correct env vars for staging
  paas/env_variables/staging.yml
Due: none

Use Terraform to provision Pay PaaS environment
  terraform/.gitignore
  terraform/dev-paas/site.tf
  terraform/modules/aws/cloudfront.tf
  terraform/modules/aws/main.tf
  terraform/modules/aws/route53.tf
  terraform/modules/aws/templates/provision_fle_config.rb
  terraform/modules/aws/variables.tf
  terraform/modules/paas-postgres/main.tf
  terraform/modules/paas-postgres/postgres.tf
  terraform/modules/paas-postgres/variables.tf
  terraform/modules/paas-stub-postgres/apps.tf
  terraform/modules/paas-stub-postgres/main.tf
  terraform/modules/paas-stub-postgres/postgres.tf
  terraform/modules/paas-stub-postgres/variables.tf
  terraform/modules/paas-stub-sqs/apps.tf
  terraform/modules/paas-stub-sqs/main.tf
  terraform/modules/paas-stub-sqs/sqs.tf
  terraform/modules/paas-stub-sqs/variables.tf
  terraform/modules/paas/adminusers.tf
  terraform/modules/paas/app-catalog-service.tf
  terraform/modules/paas/card-connector.tf
  terraform/modules/paas/card-frontend.tf
  terraform/modules/paas/cardid.tf
  terraform/modules/paas/directdebit-connector.tf
  terraform/modules/paas/directdebit-frontend.tf
  terraform/modules/paas/ledger.tf
  terraform/modules/paas/main.tf
  terraform/modules/paas/notifications.tf
  terraform/modules/paas/products-ui.tf
  terraform/modules/paas/products.tf
  terraform/modules/paas/publicapi.tf
  terraform/modules/paas/publicauth.tf
  terraform/modules/paas/selfservice.tf
  terraform/modules/paas/toolbox.tf
  terraform/modules/paas/variables.tf
  terraform/staging-paas/site.tf
  terraform/staging/site.tf
Due: terraform-fmt

Remove actions from provision_space script
  paas/provision_space.sh
  terraform/.gitignore
  terraform/modules/paas/app-catalog-service.tf
Due: terraform-fmt

Skip Java unit tests
  ci/tasks/maven-build.yaml
Due: none

PP-6030 Switch node apps to buildpack deployment
  ci/pipelines/deploy.yml
  ci/tasks/extract-artefact.yml
  paas/env_variables/staging.yml
Due: validate-pipelines

PP-6030 fix typo in git-release resource
  ci/pipelines/deploy.yml
Due: validate-pipelines

PP-6030 Correct task name after previous refactor
  ci/pipelines/deploy.yml
Due: validate-pipelines

PP-6038 Add Java build jobs to pipeline
  ci/pipelines/build.yml
  ci/tasks/maven-build.yaml
Due: validate-pipelines

PP-6030 Add manifest param back
  ci/pipelines/deploy.yml
Due: validate-pipelines

PP-6030_update_staging_vars
  ci/tasks/extract-artefact.yml
  paas/env_variables/staging.yml
Due: none

Fix: maven-build task file extension yaml->yml
  ci/tasks/maven-build.yml
Due: none

PP-6030 Remove bind_db from deploy pipeline
  ci/pipelines/deploy.yml
Due: validate-pipelines

PP-6063: Add ADR for separate CDE space
  docs/source/adrs/0004-separate-cde-space.html.md
  docs/source/adrs/index.html.md.erb
  docs/source/infrastructure.html.md.erb
  docs/source/onboarding.html.md.erb
Due: none

Record architecture decisions
  .adr-dir
  docs/source/adrs/0001-record-architecture-decisions.md
Due: none

ADR: Use terraform to manage the env skeleton
  docs/source/adrs/0002-use-terraform-to-manage-the-environment-skeleton.md
Due: none

ADR: Use a user provided service for service disco
  docs/source/adrs/0003-use-a-user-provided-service-for-service-discovery.md
Due: none

PP-6030 ls the contents of git-release and artefact
  ci/tasks/extract-artefact.yml
Due: none

Correct build job names
  ci/pipelines/build.yml
Due: validate-pipelines

Fix errors when running in ash shell
  ci/tasks/checkout-commit.yml
Due: none

Path conditions:
  validate-pipelines: any of: ci/pipelines/.+\.(yml|yaml)$
  terraform-fmt: any of: \.tf$
