Repository alphagov/pay-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pipelines, terraform-fmt

validate-pipelines:
  name: Validate Concourse pipelines
  entry: fly validate-pipeline -c
  language: system

terraform-fmt:
  name: Run terraform fmt
  entry: terraform fmt -check -diff
  language: system

Use terraform deployment per environment
  terraform/account/site.tf
  terraform/modules/environment/cloudfront.tf
  terraform/modules/environment/main.tf
  terraform/modules/environment/route53.tf
  terraform/modules/environment/templates/provision_fle_config.rb
  terraform/modules/environment/variables.tf
  terraform/staging/site.tf
Due: terraform-fmt

Download fly and terraform for Travis
  .pre-commit-config.yaml
  .pre-commit/terraform-fmt.sh
  .travis.yml
Due: none

Make PaaS domain for Cloudfront origin configurable
  terraform/modules/environment/cloudfront.tf
  terraform/modules/environment/variables.tf
  terraform/staging/site.tf
Due: terraform-fmt

Update deploy pipeline for Ireland staging
  ci/pipelines/deploy.yml
Due: validate-pipelines

Add script for provisioning a production PaaS space
  paas/provision_space.sh
Due: none

Fix routes in PaaS manifest
  ci/pipelines/deploy-env.yml
  paas/env_variables/dev.yml
  paas/env_variables/staging-smoke-tests.yml
  paas/env_variables/staging.yml
  paas/pay-apps.yml
Due: validate-pipelines

Concourse pipeline cleanup
  ci/config/dev-pipelines.yml
  ci/config/space-users/dev-anshul.csv
  ci/config/space-users/dev-dan.csv
  ci/config/space-users/dev-dom.csv
  ci/config/space-users/dev-nim.csv
  ci/config/space-users/dev-oswald.csv
  ci/config/space-users/dev-richard.csv
  ci/config/space-users/dev-stephen.csv
  ci/config/space-users/staging-cde.csv
  ci/config/space-users/staging.csv
  ci/pipelines/deploy.yml
  ci/pipelines/dev-env.yml
  ci/pipelines/dev-pipelines.yml
  ci/pipelines/provision-envs.yml
  ci/tasks/apply-network-policies.yml
  ci/tasks/cf-task.yml
  ci/tasks/create-app.yml
  ci/tasks/create-users.yml
  paas/apply_network_policies.rb
  paas/network-policies.yml
Due: validate-pipelines

Move smoke test apps to Ireland
  ci/pipelines/smoke-tests.yml
Due: validate-pipelines

BAU Add Rory
  ci/config/dev-pipelines.yml
  ci/config/space-users/dev-rory.csv
  ci/config/space-users/staging-cde.csv
  ci/config/space-users/staging.csv
Due: none

Fix typo in dev-pipelines.yml
  ci/config/dev-pipelines.yml
Due: none

Create the dev-env space before provisioning it
  ci/pipelines/dev-env.yml
Due: validate-pipelines

Use different connector docker image
  ci/pipelines/deploy-env.yml
  paas/pay-apps.yml
Due: validate-pipelines

BAU: add steven.fountain dev pipeline
  ci/config/dev-pipelines.yml
  ci/config/space-users/dev-steven.csv
  ci/config/space-users/staging-cde.csv
  ci/config/space-users/staging.csv
Due: none

Don't set startup command for placeholder apps
  ci/pipelines/deploy.yml
  ci/pipelines/dev-env.yml
  paas/provision_space.sh
Due: validate-pipelines

Add network policy from publicapi to card-connector
  paas/provision_space.sh
Due: none

Add test client for creating test users
  ci/pipelines/dev-env.yml
  ci/tasks/test-client.yml
  client/.ruby-version
  client/Gemfile
  client/Gemfile.lock
  client/client
Due: validate-pipelines

BAU Add Rory to dev-stephen
  ci/config/space-users/dev-stephen.csv
Due: none

Trigger dev env provision space on paas config changes
  ci/pipelines/dev-env.yml
  paas/provision_space.sh
Due: validate-pipelines

Fix grep in provision space
  paas/provision_space.sh
Due: none

Add create-test-user to serial_groups
  ci/pipelines/dev-env.yml
Due: validate-pipelines

Add LEDGER_URL environment variable for selfservice
  paas/pay-apps.yml
Due: none

PaaS provisioning script refactors
  paas/provision_space.sh
Due: none

Add network policy from selfservice to products
  paas/provision_space.sh
Due: none

Add network policy from publicapi to directdebit-connector
  paas/provision_space.sh
Due: none

Add network policy from products-ui to products
  paas/provision_space.sh
Due: none

Update deploy pipeline
  ci/pipelines/deploy.yml
  ci/pipelines/smoke-tests.yml
  ci/tasks/cf-task.yml
  ci/tasks/smoke-test-user.yml
  client/client
  paas/provision_space.sh
  paas/smoke-test-apps.yml
Due: validate-pipelines

Update provision_space script
  paas/provision_space.sh
Due: none

Add SQS to staging deploy
  ci/pipelines/deploy.yml
Due: validate-pipelines

Update database provisioning
  ci/tasks/cf-task.yml
  paas/env_variables/dev.yml
  paas/env_variables/staging.yml
  paas/pay-apps.yml
  paas/provision_space.sh
Due: none

Fixes for smoke tests
  ci/pipelines/deploy.yml
  ci/tasks/cf-task.yml
  ci/tasks/smoke-test-user.yml
  client/client
  paas/smoke-test-apps.yml
Due: validate-pipelines

Use Terraform to provision Pay PaaS environment
  terraform/.gitignore
  terraform/dev-paas/site.tf
  terraform/modules/aws/cloudfront.tf
  terraform/modules/aws/main.tf
  terraform/modules/aws/route53.tf
  terraform/modules/aws/templates/provision_fle_config.rb
  terraform/modules/aws/variables.tf
  terraform/modules/paas/external_apps.tf
  terraform/modules/paas/internal_apps.tf
  terraform/modules/paas/main.tf
  terraform/modules/paas/modules/app/main.tf
  terraform/modules/paas/modules/app/outputs.tf
  terraform/modules/paas/modules/app/variables.tf
  terraform/modules/paas/stubs.tf
  terraform/modules/paas/variables.tf
  terraform/staging-paas/site.tf
  terraform/staging/site.tf
Due: terraform-fmt

Remove actions from provision_space script
  paas/provision_space.sh
Due: none

wip concourse
  ci/pipelines/dev-env.yml
Due: validate-pipelines

Update git source branch to develop
  ci/pipelines/deploy.yml
  ci/pipelines/smoke-tests.yml
Due: validate-pipelines

Add test travis ci release pipeline
  ci/pipelines/test-travis.yml
  ci/tasks/node-build.yaml
Due: validate-pipelines

Update test-travis.yml pipeline
  ci/pipelines/test-travis.yml
Due: validate-pipelines

Ensure CloudFront distribution is created after ACM cert validation
  terraform/modules/environment/cloudfront.tf
Due: terraform-fmt

Fix terrform linting
  terraform/modules/environment/cloudfront.tf
Due: terraform-fmt

PP-6030 Watch for paas git release and push
  ci/pipelines/deploy_from_release.yml
Due: validate-pipelines

Fix local concourse pipelines
  Makefile
Due: none

Path conditions:
  validate-pipelines: any of: ci/pipelines/.+\.(yml|yaml)$
  terraform-fmt: any of: \.tf$
