Repository alphagov/pay-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pipelines, terraform-fmt

validate-pipelines:
  name: Validate Concourse pipelines
  entry: fly validate-pipeline -c
  language: system

terraform-fmt:
  name: Run terraform fmt
  entry: terraform fmt -check -diff
  language: system

PP-6966 Remove auto trigger for adminusers card e2e
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6966 Remove auto trigger for e2e jobs
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6944 Add pr build time job to each app
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6981 Make e2e optional for selfservice
  ci/pipelines/pr.yml
  ci/tasks/node-build-pr.yml
Due: validate-pipelines

PP-6944 Add ledger's pact provider job to input of build time record
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6981 Add omnibus to selfservice e2e job
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6981 Make e2e optional for node apps
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6914: Pin TF 0.12 compatible cyber sec module
  terraform/test-account/site.tf
Due: terraform-fmt

PP-6996 Fix pay-stubs ci
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6996 Add recording of pay-stubs build time
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6944 Store Dashboard JSON
  ci/grafana/percent_non_erroring.json
  ci/grafana/successful_pr_percentile_values.json
  ci/grafana/successful_pr_percentile_values_heatmap.json
  ci/grafana/successful_pr_percentile_values_per_app.json
Due: none

BAU: Bind carbon-relay and metric-exporter to correct log service
  terraform/modules/paas/carbon-relay.tf
  terraform/modules/paas/metric-exporter.tf
Due: terraform-fmt

Fix application group membership resource
  terraform/modules/aws/card-connector.tf
  terraform/modules/aws/ledger.tf
Due: terraform-fmt

PP-6194: Add default VPC, route table and default security group
  terraform/modules/aws/variables.tf
  terraform/modules/aws/vpc.tf
  terraform/staging-aws/site.tf
Due: terraform-fmt

PP-6914: Only allow staging TF to be applied in staging AWS account
  terraform/staging-account/site.tf
  terraform/staging-aws/site.tf
Due: terraform-fmt

BAU: Update cyber security audit role to TF 0.12 compatible module
  terraform/staging-account/site.tf
  terraform/test-account/site.tf
Due: terraform-fmt

BAU: Update all Terraform to use v3 AWS provider
  terraform/modules/aws/cloudfront_logging/main.tf
  terraform/modules/aws/waf_logging/main.tf
  terraform/staging-account/site.tf
  terraform/staging-aws/site.tf
  terraform/staging-paas/site.tf
  terraform/test-account/site.tf
Due: terraform-fmt

BAU: Update Route53/ACM domain validation to AWS TF v3 syntax
  terraform/modules/aws/route53.tf
  terraform/staging-aws/site.tf
Due: terraform-fmt

PP-6914: Add RDS subnet configuration
  terraform/modules/aws/rds.tf
  terraform/modules/aws/rds/subnets.tf
  terraform/modules/aws/rds/variables.tf
  terraform/modules/aws/variables.tf
Due: terraform-fmt

PP-7013 Add main pipeline
  ci/pipelines/deploy.yml
  ci/pipelines/main.yml
Due: validate-pipelines

PP-6914: Add RDS security groups. Permit ingress from PaaS ireland VPC CIDR
  terraform/modules/aws/rds.tf
  terraform/modules/aws/rds/subnets.tf
  terraform/modules/aws/rds/variables.tf
  terraform/modules/aws/variables.tf
Due: terraform-fmt

PP-6914: Minor TF fixes
  terraform/modules/aws/rds/subnets.tf
  terraform/modules/aws/rds/variables.tf
  terraform/modules/aws/vpc.tf
Due: terraform-fmt

PP-6914: Move Staging AWS infra to eu-west-1 region
  terraform/staging-aws/site.tf
Due: terraform-fmt

PP-6914: Update VPC cidr & RDS base subnet for compatibility PaaS VPC peering
  terraform/modules/aws/rds/subnets.tf
  terraform/staging-aws/site.tf
Due: terraform-fmt

PP-6913 Update the aws region used for paas module
  terraform/staging-paas/site.tf
Due: terraform-fmt

PP-7062 Add serial groups to pr pipeline
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-7062 Correct case for new serial groups
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6913 Add provisioning of RDS instances
  terraform/modules/aws/rds/main.tf
  terraform/modules/aws/rds/subnets.tf
  terraform/modules/aws/rds/variables.tf
Due: terraform-fmt

PP-6913 Add route for Paas VPC
  terraform/modules/aws/rds.tf
  terraform/modules/aws/rds/main.tf
  terraform/modules/aws/rds/subnets.tf
  terraform/modules/aws/rds/variables.tf
  terraform/modules/aws/variables.tf
  terraform/modules/aws/vpc.tf
  terraform/staging-aws/site.tf
  terraform/staging-aws/terraform.tfvars
Due: terraform-fmt

PP-6913 Pass `paas_vpc_peering_name` from each environment
  terraform/modules/aws/variables.tf
  terraform/staging-aws/site.tf
Due: terraform-fmt

PP-6913 Add remaining DBs for creation
  terraform/staging-aws/terraform.tfvars
Due: none

PP-6913 Remove snapshot_identifier Ties
  terraform/modules/aws/rds/main.tf
  terraform/staging-aws/terraform.tfvars
Due: terraform-fmt

PP-6913 Remove Deprecations
  terraform/modules/aws/cloudfront_logging/transformation-lambda.tf
  terraform/modules/aws/hosted-graphite.tf
  terraform/modules/aws/notifications.tf
  terraform/modules/aws/products-ui.tf
  terraform/modules/aws/publicapi.tf
  terraform/modules/aws/rds/main.tf
  terraform/modules/aws/selfservice.tf
  terraform/modules/aws/waf_logging/lambda.tf
Due: terraform-fmt

BAU Recursive Terraform Format
  terraform/modules/aws/cloudfront_logging/kinesis-firehose.tf
  terraform/modules/aws/cloudfront_logging/log-event-lambda.tf
  terraform/modules/aws/cloudfront_logging/variables.tf
  terraform/modules/aws/directdebit-frontend.tf
  terraform/modules/aws/logs.tf
  terraform/modules/aws/sqs.tf
  terraform/modules/aws/waf_logging/kinesis-firehose.tf
  terraform/modules/aws/waf_logging/variables.tf
  terraform/modules/credentials/outputs.tf
  terraform/modules/credentials/variables.tf
  terraform/modules/paas/adminusers.tf
  terraform/modules/paas/app-catalog-service.tf
  terraform/modules/paas/card-connector.tf
  terraform/modules/paas/card-frontend.tf
  terraform/modules/paas/cardid.tf
  terraform/modules/paas/directdebit-connector.tf
  terraform/modules/paas/directdebit-frontend.tf
  terraform/modules/paas/ledger.tf
  terraform/modules/paas/products-ui.tf
  terraform/modules/paas/products.tf
  terraform/modules/paas/publicapi.tf
  terraform/modules/paas/publicauth.tf
  terraform/modules/paas/selfservice.tf
  terraform/modules/paas/splunk-log-drain.tf
  terraform/modules/paas/toolbox.tf
  terraform/staging-account/iam.tf
  terraform/staging-aws/terraform.tfvars
  terraform/staging-paas/terraform.tfvars
Due: terraform-fmt

BAU: Enable RDS performance insights with default settings for all DBs
  terraform/modules/aws/rds/main.tf
Due: terraform-fmt

perf_insights: kms_key_id requires a key ARN
  terraform/modules/aws/rds/main.tf
Due: terraform-fmt

PP-7020 Add db credentials for card-connector
  terraform/modules/paas/card-connector.tf
  terraform/modules/paas/variables.tf
  terraform/staging-paas/site.tf
  terraform/staging-paas/terraform.tfvars
Due: terraform-fmt

PP-7020 Add DB Creds To Other Services
  terraform/modules/paas/adminusers.tf
  terraform/modules/paas/card-connector.tf
  terraform/modules/paas/ledger.tf
  terraform/modules/paas/products.tf
  terraform/modules/paas/publicauth.tf
  terraform/staging-paas/site.tf
  terraform/staging-paas/terraform.tfvars
Due: terraform-fmt

PP-7020: Add db SSL connection option to static app configuration variables
  terraform/staging-paas/terraform.tfvars
Due: none

BAU: Remove direct debit connector & frontend deployment & smoke tests
  ci/pipelines/deploy.yml
Due: validate-pipelines

Path conditions:
  validate-pipelines: any of: ci/pipelines/.+\.(yml|yaml)$
  terraform-fmt: any of: \.tf$
