Repository alphagov/pay-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pipelines, terraform-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-pipelines
        name: Validate Concourse pipelines
        entry: fly validate-pipeline -c
        files: ci/pipelines/.+\.(yml|yaml)$
        language: system
      - id: terraform-fmt
        name: Run terraform fmt
        entry: terraform fmt -check -diff
        files: \.tf$
        language: system

Fix ADR numbering and navigation
  docs/source/adrs/0007-exporting-metrics.html.md
  docs/source/adrs/0008-use-concourse-to-run-e2e-tests.html.md
  docs/source/adrs/0009-use-paas-provided-splunk-log-drain.html.md
  docs/source/adrs/0010-waf-log-delivery-to-splunk.html.md
  docs/source/adrs/index.html.md.erb
  docs/source/images/adrs/0010-waf-log-sequence-diagram.svg
Due: none

Enable documentation search
  docs/config/tech-docs.yml
Due: none

Make ADR links dynamic
  docs/source/adrs/0001-record-architecture-decisions.html.md
  docs/source/adrs/0002-use-terraform-to-manage-the-environment-skeleton.html.md
  docs/source/adrs/0003-use-a-user-provided-service-for-service-discovery.html.md
  docs/source/adrs/0004-separate-cde-space.html.md
  docs/source/adrs/0005-inline-cardid-data-into-cardid-before-pushing-to-gov-uk-paas.html.md
  docs/source/adrs/0006-serve-cardid-data-from-an-internal-http-static-file-server.html.md
  docs/source/adrs/0007-exporting-metrics.html.md
  docs/source/adrs/0008-use-concourse-to-run-e2e-tests.html.md
  docs/source/adrs/0009-use-paas-provided-splunk-log-drain.html.md
  docs/source/adrs/0010-waf-log-delivery-to-splunk.html.md
  docs/source/adrs/index.html.md.erb
Due: none

Move infrastructure docs to sub directory
  docs/source/infrastructure/infrastructure.html.md.erb
Due: none

Add AWS metric documentation
  docs/source/infrastructure/metrics.html.md
Due: none

Make multi-page collapsible side nav work
  docs/config/tech-docs.yml
  docs/source/adrs.html.md.erb
  docs/source/infrastructure.html.md.erb
  docs/source/infrastructure/using-terraform.html.md
Due: none

PP-6446 Bind Apps to Splunk Log Service
  terraform/modules/paas/adminusers.tf
  terraform/modules/paas/card-connector.tf
  terraform/modules/paas/card-frontend.tf
  terraform/modules/paas/cardid.tf
  terraform/modules/paas/directdebit-connector.tf
  terraform/modules/paas/directdebit-frontend.tf
  terraform/modules/paas/ledger.tf
  terraform/modules/paas/notifications.tf
  terraform/modules/paas/products-ui.tf
  terraform/modules/paas/products.tf
  terraform/modules/paas/publicapi.tf
  terraform/modules/paas/publicauth.tf
  terraform/modules/paas/selfservice.tf
  terraform/modules/paas/splunk-log-drain.tf
  terraform/modules/paas/toolbox.tf
Due: terraform-fmt

Bind PaaS metric exporter and carbon relay apps to Splunk log service
  terraform/modules/paas/carbon-relay.tf
  terraform/modules/paas/metric-exporter.tf
  terraform/modules/paas/splunk-log-drain.tf
Due: terraform-fmt

Source Splunk HEC token from pay-low-pass secret store
  terraform/modules/aws/logs.tf
  terraform/modules/aws/main.tf
  terraform/modules/aws/variables.tf
  terraform/staging-aws/site.tf
Due: terraform-fmt

PP-6444 Add e2e tests to pr pipeline
  .gitignore
  ci/docker/concourse-runner/docker-helpers.sh
  ci/pipelines/pr.yml
  ci/tasks/build-docker-image.yml
  ci/tasks/build-node-docker-image.yml
  ci/tasks/endtoend/card/docker-compose.yml
  ci/tasks/endtoend/directdebit/docker-compose.yml
  ci/tasks/endtoend/docker-config/accepttests.env
  ci/tasks/endtoend/docker-config/adminusers.env
  ci/tasks/endtoend/docker-config/cardid.env
  ci/tasks/endtoend/docker-config/connector.env
  ci/tasks/endtoend/docker-config/demoservice.env
  ci/tasks/endtoend/docker-config/directdebit-frontend.env
  ci/tasks/endtoend/docker-config/directdebitconnector.env
  ci/tasks/endtoend/docker-config/elasticmq.conf
  ci/tasks/endtoend/docker-config/endtoend.env
  ci/tasks/endtoend/docker-config/frontend.env
  ci/tasks/endtoend/docker-config/java_app.env
  ci/tasks/endtoend/docker-config/ledger.env
  ci/tasks/endtoend/docker-config/postgres/docker-entrypoint-initdb.d/make_payments_databases.sql
  ci/tasks/endtoend/docker-config/products.env
  ci/tasks/endtoend/docker-config/productsui.env
  ci/tasks/endtoend/docker-config/publicapi.env
  ci/tasks/endtoend/docker-config/publicauth.env
  ci/tasks/endtoend/docker-config/selfservice.env
  ci/tasks/endtoend/docker-config/ssl/certs/frontend.pymnt.localdomain.crt
  ci/tasks/endtoend/docker-config/ssl/certs/selfservice.pymnt.localdomain.crt
  ci/tasks/endtoend/docker-config/ssl/certs/stubs.pymnt.localdomain.crt
  ci/tasks/endtoend/docker-config/ssl/keys/frontend.pymnt.localdomain.key
  ci/tasks/endtoend/docker-config/ssl/keys/selfservice.pymnt.localdomain.key
  ci/tasks/endtoend/docker-config/ssl/keys/stubs.pymnt.localdomain.key
  ci/tasks/endtoend/docker-config/ssl/make-selfsigned.sh
  ci/tasks/endtoend/docker-config/stubs.env
  ci/tasks/endtoend/products/docker-compose.yml
  ci/tasks/endtoend/task.yml
  ci/tasks/java-integration-tests.yml
  ci/tasks/java-package.yml
  ci/tasks/node-build-pr.yml
  ci/tasks/zip-build.yml
Due: validate-pipelines

BAU: Apply explicit public access block to s3 buckets
  terraform/modules/aws/logs.tf
  terraform/modules/aws/waf_logging/s3.tf
  terraform/staging-account/site.tf
Due: terraform-fmt

PP-6504 Add new pact broker for concourse pr pipeline
  ci/pact_broker/pay-pact-broker_manifest.yml
Due: none

Add CloudFront logging module
  terraform/modules/aws/cloudfront_logging/main.tf
  terraform/modules/aws/cloudfront_logging/variables.tf
  terraform/modules/aws/logs.tf
Due: terraform-fmt

PP-6504 Publish consumer pacts
  ci/pipelines/pr.yml
  ci/tasks/publish-pacts.yml
Due: validate-pipelines

pass pact directory as param
  ci/pipelines/pr.yml
  ci/tasks/publish-pacts.yml
Due: validate-pipelines

Fix input
  ci/tasks/publish-pacts.yml
Due: none

Add TF definition for S3 log put event processing lambda
  terraform/modules/aws/cloudfront_logging/log-event-lambda.tf
Due: terraform-fmt

Publish pacts for publicapi
  ci/pipelines/pr.yml
Due: validate-pipelines

add java IT output so publish pacts can find the pacts within build directory
  ci/pipelines/pr.yml
  ci/tasks/java-integration-tests.yml
Due: validate-pipelines

add git files to build and check they exist when publishing
  ci/tasks/java-integration-tests.yml
  ci/tasks/publish-pacts.yml
Due: none

rework where pacts and git details come from
  ci/pipelines/pr.yml
  ci/tasks/java-integration-tests.yml
  ci/tasks/publish-pacts.yml
Due: validate-pipelines

Revert "rework where pacts and git details come from"
  ci/pipelines/pr.yml
  ci/tasks/java-integration-tests.yml
  ci/tasks/publish-pacts.yml
Due: validate-pipelines

create pacts output from node and java builds
  ci/pipelines/pr.yml
  ci/tasks/java-integration-tests.yml
  ci/tasks/node-build-pr.yml
  ci/tasks/publish-pacts.yml
Due: validate-pipelines

cd into pacts to fix curl
  ci/tasks/publish-pacts.yml
Due: none

use jq to get provider name
  ci/pipelines/pr.yml
  ci/tasks/publish-pacts.yml
Due: validate-pipelines

change publish pact container to add jq...
  ci/tasks/publish-pacts.yml
Due: none

minor fix
  ci/tasks/publish-pacts.yml
Due: none

trim quotes from provider name
  ci/tasks/publish-pacts.yml
Due: none

Add lambda function to send CloudFront log files to Firehose
  lambda/cloudfront-log-event-process/.gitingore
  lambda/cloudfront-log-event-process/index.js
Due: none

Add gitignore
  lambda/waf-to-splunk-kinesis-data-transformation/.gitingore
Due: none

Use TF 0.12 syntax
  terraform/modules/aws/cloudfront_logging/log-event-lambda.tf
Due: terraform-fmt

Add Kinesis Firehose config for CloudFront log delivery to Splunk
  terraform/modules/aws/cloudfront_logging/kinesis-firehose.tf
Due: terraform-fmt

Add CloudFront/Splunk transformation lambda
  lambda/cloudfront-log-kinesis-splunk-transformation/.gitingore
  lambda/cloudfront-log-kinesis-splunk-transformation/index.js
Due: none

Rename gitignore file
  lambda/cloudfront-log-event-process/.gitignore
  lambda/cloudfront-log-kinesis-splunk-transformation/.gitignore
  lambda/waf-to-splunk-kinesis-data-transformation/.gitignore
Due: none

Pass Kinesis stream name to processing lambda as environment var
  terraform/modules/aws/cloudfront_logging/log-event-lambda.tf
Due: terraform-fmt

Add TF for cloudfront/splunk transformation lambda
  terraform/modules/aws/cloudfront_logging/transformation-lambda.tf
  terraform/modules/aws/cloudfront_logging/variables.tf
Due: terraform-fmt

Pass splunk creds to cloudfront logging module
  terraform/modules/aws/logs.tf
Due: terraform-fmt

check pact provider validation
  ci/pipelines/pr.yml
Due: validate-pipelines

Adjust cloudfront log bucket public block policy to allow log delivery from awslogsdelivery
  terraform/modules/aws/logs.tf
Due: terraform-fmt

check for all providers and send output to file for later processing
  ci/pipelines/pr.yml
Due: validate-pipelines
