Repository alphagov/pay-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pipelines, terraform-fmt

validate-pipelines:
  name: Validate Concourse pipelines
  entry: fly validate-pipeline -c
  language: system

terraform-fmt:
  name: Run terraform fmt
  entry: terraform fmt -check -diff
  language: system

minor changes to provider checking
  ci/pipelines/pr.yml
Due: validate-pipelines

Correct date use in transformer lambda
  lambda/cloudfront-log-kinesis-splunk-transformation/index.js
Due: none

Fix CloudFront log firehose configuration
  terraform/modules/aws/cloudfront_logging/kinesis-firehose.tf
Due: terraform-fmt

Add correct permissions to CloudFront log processing lambda
  terraform/modules/aws/cloudfront_logging/log-event-lambda.tf
Due: terraform-fmt

Try using s3 as pact provider job queue
  ci/docker/concourse-runner/Dockerfile
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6234: Add Terraform for three SQS queues (with dead-letters)
  terraform/modules/aws/sqs.tf
Due: terraform-fmt

PP-6234: Enable SSE on all SQS queues
  terraform/modules/aws/sqs.tf
Due: terraform-fmt

PP-6234: Create IAM group for applications in iam.tf file
  terraform/modules/aws/hosted-graphite.tf
  terraform/modules/aws/iam.tf
Due: terraform-fmt

BAU Switch Pipeline Branch To Master
  ci/pipelines/concourse-runner.yml
  ci/pipelines/deploy.yml
  ci/pipelines/dev-env.yml
  ci/pipelines/dev-pipelines.yml
  ci/pipelines/docs.yml
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6234: Add PaaS Ireland public IPs to TF variables
  terraform/modules/aws/variables.tf
Due: terraform-fmt

PP-6234 Create Users For Apps With SQS Access
  terraform/modules/aws/card-connector.tf
  terraform/modules/aws/ledger.tf
Due: terraform-fmt

Use single applications IAM group membership resource
  terraform/modules/aws/card-connector.tf
  terraform/modules/aws/iam.tf
  terraform/modules/aws/ledger.tf
Due: terraform-fmt

Use user_group_membership resource to assign to Applications group
  terraform/modules/aws/card-connector.tf
  terraform/modules/aws/iam.tf
  terraform/modules/aws/ledger.tf
Due: terraform-fmt

PP-6504 Consumer PR pact tests
  ci/pipelines/pr.yml
  ci/tasks/java-integration-tests.yml
  ci/tasks/node-build-pr.yml
  ci/tasks/pact-provider-check.yml
  ci/tasks/pact-provider-verification.yml
  ci/tasks/publish-pacts.yml
Due: validate-pipelines

PP-6234 Create TFVars Mapping For AWS Secrets
  terraform/staging-paas/terraform.tfvars
Due: none

PP-6234 Reflect Future Migration State
  terraform/staging-paas/terraform.tfvars
Due: none

PP-6234: Remove stub SQS service and add real queue config
  terraform/modules/paas/sqs-config-service.tf
  terraform/modules/paas/variables.tf
  terraform/staging-paas/site.tf
Due: terraform-fmt

PP-6234: Remove stub SQS service and add real queue config
  terraform/modules/paas/sqs-config-service.tf
  terraform/staging-paas/site.tf
Due: terraform-fmt

PP-6234 Ledger GetAttributes Permissions
  terraform/modules/aws/ledger.tf
Due: terraform-fmt

PP-6504 Provider PR pact tests
  ci/docker/concourse-runner/Dockerfile
  ci/pipelines/pr.yml
  ci/tasks/pact-provider-check.yml
  ci/tasks/pact-provider-test-preflight-check.yml
  ci/tasks/pact-provider-verification.yml
Due: validate-pipelines

PP-6234 Add Capture Queue Read/Write
  terraform/modules/aws/card-connector.tf
Due: terraform-fmt

PP-6234: Fix database migration tasks running in Java buildpack
  ci/scripts/migrate_database.sh
Due: none

PP-6234 Add SQS Queue ADR
  docs/source/adrs/0011-sqs-queues.html.md
Due: none

PP-6606 Tech Docs PR CI
  ci/pipelines/pr.yml
  ci/tasks/ruby-build.yml
Due: validate-pipelines

New way to build frontend
  ci/docker/cypress-runner/Dockerfile
  ci/pipelines/pr.yml
  ci/tasks/node-build-with-docker.yml
Due: validate-pipelines

Toolbox doesn't have pact files so don't error if they're not there
  ci/tasks/node-build-pr.yml
Due: none

Fix yml formatting
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6676 Trigger deploy build from master merge
  ci/pipelines/deploy.yml
  ci/tasks/calculate-release-number.yml
Due: validate-pipelines

BAU Fix pact provider tasks
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6615 Beginnings of Sending Metrics
  ci/pipelines/deploy.yml
  ci/tasks/send-hg-metric.yml
Due: validate-pipelines

Remove special DB migration command for adminusers
  ci/scripts/migrate_database.sh
Due: none

PP-6676 fix calculation of next release number
  ci/tasks/calculate-release-number.yml
Due: none

PP-6615 Parallel Pipelines
  ci/pipelines/deploy.yml
Due: validate-pipelines

PP-6615 Send HG Metrics Regarding Smoke Tests
  ci/pipelines/deploy.yml
  ci/tasks/send-hg-metric.yml
Due: validate-pipelines

PP-6615 Add Netcat
  ci/docker/concourse-runner/Dockerfile
Due: none

PP-6615 Use Concourse Runner Image
  ci/tasks/send-hg-metric.yml
Due: none

Delete .gitingore
  .gitingore
Due: none

PP-6615 Add Netcat and Git to main
  ci/docker/concourse-runner/Dockerfile
Due: none

PP-6615 Add Fully Qualified Repo Name
  ci/pipelines/concourse-runner.yml
Due: validate-pipelines

Path conditions:
  validate-pipelines: any of: ci/pipelines/.+\.(yml|yaml)$
  terraform-fmt: any of: \.tf$
