Repository alphagov/pay-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pipelines, terraform-fmt

validate-pipelines:
  name: Validate Concourse pipelines
  entry: fly validate-pipeline -c
  language: system

terraform-fmt:
  name: Run terraform fmt
  entry: terraform fmt -check -diff
  language: system

Add support for running Adminusers initial migration
  ci/scripts/migrate_database.sh
Due: none

Fix typo in migrate_database.sh
  ci/scripts/migrate_database.sh
Due: none

Ran shellcheck on the migration script
  ci/scripts/migrate_database.sh
Due: none

WIP test v3 cf_app_resource
  terraform/v3/test.tf
Due: terraform-fmt

Update PaaS app resources to use CF V3 API when created
  terraform/modules/paas/adminusers.tf
  terraform/modules/paas/carbon-relay.tf
  terraform/modules/paas/card-connector.tf
  terraform/modules/paas/card-frontend.tf
  terraform/modules/paas/cardid-data.tf
  terraform/modules/paas/cardid.tf
  terraform/modules/paas/directdebit-connector.tf
  terraform/modules/paas/directdebit-frontend.tf
  terraform/modules/paas/ledger.tf
  terraform/modules/paas/metric-exporter.tf
  terraform/modules/paas/products-ui.tf
  terraform/modules/paas/products.tf
  terraform/modules/paas/publicapi.tf
  terraform/modules/paas/publicauth.tf
  terraform/modules/paas/selfservice.tf
  terraform/modules/paas/toolbox.tf
Due: terraform-fmt

Remove v3 files
  terraform/v3/test.tf
Due: terraform-fmt

BAU Remove Anshul's Pipelines From Concourse
  ci/config/dev-pipelines.yml
  ci/config/space-users/dev-anshul.csv
Due: none

Deploy notifications app using v3 CF api
  terraform/modules/paas/notifications.tf
Due: terraform-fmt

Use CF CLI v7 with optional arguments
  ci/tasks/cf-v3-deploy.yml
Due: none

Java apps via cf v3
  ci/pipelines/deploy.yml
  ci/tasks/cf-v3-deploy.yml
Due: validate-pipelines

CF Cardid-data Deployment
  ci/pipelines/deploy.yml
Due: validate-pipelines

Node apps and Java apps with source param
  ci/pipelines/deploy.yml
Due: validate-pipelines

carbon relay and metric exporter
  ci/pipelines/deploy.yml
Due: validate-pipelines

Remove missing yaml anchor
  ci/pipelines/deploy.yml
Due: validate-pipelines

Set GPG id to 394FD0A186ACB0B11AD8985DF72FEF2CA1AEAAC1, 7CDDD9583EA64CF547C7C3CB60334BF32B93F7ED, C1DDAD1826A49CA657FA0BA3C48A9288CFD80688, 17F1DF78B7E165F07B10598207E16920821FE6BA.
  secrets/.gpg-id
Due: none

Fix deploy task filename
  ci/pipelines/deploy.yml
Due: validate-pipelines

Use fork of cf-cli-v7 container
  ci/tasks/cf-v3-deploy.yml
Due: none

Set task path explicitly
  ci/tasks/cf-v3-deploy.yml
Due: none

Rename PATH to APP_PATH
  ci/pipelines/deploy.yml
  ci/tasks/cf-v3-deploy.yml
Due: validate-pipelines

Allow path globbing
  ci/tasks/cf-v3-deploy.yml
Due: none

Use absolute path when specifying cf push app path
  ci/tasks/cf-v3-deploy.yml
Due: none

Various fixes and refactoring of deploy pipeline for v3 deploys
  ci/pipelines/deploy.yml
  ci/tasks/cf-v3-deploy.yml
Due: validate-pipelines

Pass docker username as var for manifest variable substitution
  ci/pipelines/deploy.yml
  ci/tasks/cf-v3-deploy.yml
Due: validate-pipelines

Add ADR on running e2e tests in Concourse
  docs/source/adrs/0007-use-concourse-to-run-e2e-tests.md
Due: none

Fix incorrect app name for carbon-relay deploy job
  ci/pipelines/deploy.yml
Due: validate-pipelines

PP-6349 Add logging adr
  docs/source/adrs/0008-use-paas-provided-splunk-log-drain.md
  docs/source/adrs/index.html.md.erb
Due: none

Rename staging and account terraform directories
  terraform/staging-account/site.tf
  terraform/staging-aws/site.tf
Due: terraform-fmt

Define IAM users to delegate admin role in staging AWS account
  terraform/staging-account/iam.tf
Due: terraform-fmt

PP-6356 Add Metrics ADR
  docs/source/adrs/0007-exporting-metrics.md
  docs/source/adrs/index.html.md.erb
Due: none

BAU ZDT Enabled For Staging
  ci/pipelines/deploy.yml
Due: validate-pipelines

PP-6366: Add makefile to automate installation of TF plugins
  README.md
  terraform/Makefile
Due: none

PP-6371 Basic pr pipeline
  ci/pipelines/pr.yml
Due: validate-pipelines

Add rough example integration test configuration for connector
  ci/pipelines/end-to-end.yml
Due: validate-pipelines

PP-6371 Add task for unit and integration
  ci/pipelines/pr.yml
Due: validate-pipelines

Prevent destruction of splunk logdrain service instances
  terraform/modules/paas/splunk-log-drain.tf
Due: terraform-fmt

PP-6371 Add adminusers to pr-ci
  ci/pipelines/pr.yml
Due: validate-pipelines

PP-6371 Build All Java app PRs
  ci/pipelines/pr.yml
Due: validate-pipelines

Fix plugin naming and version constraints
  terraform/Makefile
  terraform/modules/credentials/main.tf
Due: terraform-fmt

PP-6371 Add Frontend to pr ci
  ci/pipelines/pr.yml
  ci/tasks/java-tests.yml
Due: validate-pipelines

Add Pact dependencies. Run npm ci
  ci/pipelines/pr.yml
Due: validate-pipelines

Path conditions:
  validate-pipelines: any of: ci/pipelines/.+\.(yml|yaml)$
  terraform-fmt: any of: \.tf$
